<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<th:block th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container flex-grow-1 d-flex">
            <form class="d-flex me-3" role="search" action="/search" method="get">
                <input class="form-control me-2" type="search" name="query" placeholder="Suchen" aria-label="Search" th:value="${param.query}" />
                <button class="btn btn-outline-light" type="submit">Suche</button>
            </form>

            <!--        <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" th:href="@{/product/new}">Neue Anzeige</a>-->
<!--            </li>-->
<!--        </ul> -->
        <div class="d-flex align-items-center">
<!--            <a href="/logout" class="btn btn-light me-3">Ausloggen</a> &lt;!&ndash; Weißer Logout-Button &ndash;&gt;-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/new}">Neue Anzeige</a>
                </li>
            </ul>
            <div class="dropdown">
                <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill icon-size" viewBox="0 0 16 16" style="width: 40px; height: 40px;">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 4 6 4-1 1-1 1H3zm5-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="userDropdown">
                    <li><a class="dropdown-item" th:href="@{/profile}">Profil</a></li>
                    <li><a class="dropdown-item" th:href="@{/products/marked}">Favoriten</a></li>
                    <li><a class="dropdown-item" th:href="@{/messages}">Nachrichten</a></li>
                    <li><a class="dropdown-item" th:href="@{/leaderboard}">Leaderboard</a></li>
                    <li th:if="${user != null}">
                        <a class="dropdown-item" th:href="@{/quests(userId=${user.id})}">View Quests</a>
                    </li>
                    <li><a class="dropdown-item" th:href="@{/plantCare}">Pflanzenpflege</a></li> <!-- Plant-Care Page Link -->
                    <li><a class="dropdown-item" th:href="@{/myPurchases}">Meine Käufe</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Ausloggen</a></li>
                    <!-- <li><a class="dropdown-item" th:href="@{/logout}">Ausloggen</a></li> --> <!-- Sign-Out Button -->
                </ul>
            </div>
        </div>
        </div>
    </nav>
</th:block>
</html>
