<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<th:block th:fragment="footer">
    <footer class="footer py-3 my-4">
        <ul class="nav justify-content-center custom-border pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/profile" class="nav-link px-2 text-muted">Profil</a></li>
            <li class="nav-item"><a href="/messages" class="nav-link px-2 text-muted">Nachrichten</a></li>
            <li class="nav-item"><a href="/plantCare" class="nav-link px-2 text-muted">Pflanzenpflege</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Zurück nach oben</a></li>
        </ul>
        <p class="text-center text-muted">© 2024 Pflanzenhandel</p>
    </footer>
</th:block>
</html>
