.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.rank-cell, .user-cell, .level-cell, .quest-completed-cell {
    text-align: center;
}

.rank-cell, .user-cell, .level-cell, .quest-completed-cell {
    width: 25%;
    max-width: 25%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortable {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.sortable:hover {
    text-decoration: underline;
}

.level-cell, .quest-completed-cell {
    text-decoration: none;
    color: inherit;
}