<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:replace="~{fragments/htmlHead :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Neue Pflanze einstellen</title>
    <link rel="stylesheet" th:href="@{/css/homestyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbarstyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/headerstyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/footerstyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/sidebarstyle.css}"/>
</head>
<body class="d-flex flex-column min-vh-100">
<!--Header-->
<th:block th:replace="~{fragments/htmlHeader :: header}"></th:block>

<!--Navbar-->
<th:block th:replace="~{fragments/htmlNavbar :: navbar}"></th:block>

<!--Main Content Area-->
<div class="container-fluid flex-grow-1 d-flex flex-column main-content">
    <div class="row flex-grow-1 mt-3">
        <!--Content Section ohne Sidebar-->
        <div class="col bg-light py-3 d-flex flex-column">
            <div>
                <h2>Neue Pflanze einstellen</h2>
            </div>
            <form th:action="@{/product/new}" th:object="${product}" method="post" enctype="multipart/form-data" class="row g-3">
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" required />
                </div>
                <div class="col-md-6">
                    <label for="price" class="form-label">Preis</label>
                    <input type="number" id="price" th:field="*{price}" class="form-control" required min="0.1" step="0.01" />
                </div>
                <div class="col-md-12">
                    <label for="description" class="form-label">Beschreibung</label>
                    <textarea id="description" th:field="*{description}" class="form-control"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="height" class="form-label">Größe</label>
                    <input type="number" id="height" th:field="*{height}" class="form-control" required min="0.01" step="0.01" />
                </div>
                <div class="col-md-12">
                    <div class="form-check">
                        <input type="checkbox" id="overPot" th:field="*{overPot}" class="form-check-input" />
                        <label for="overPot" class="form-check-label">Übertopf</label>
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="imageFiles" class="form-label">Bilder hochladen</label>
                    <input type="file" id="imageFiles" name="imageFiles" class="form-control" accept="image/*" multiple />
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn" style="background-color: #218838; border-color: #218838; color: white; font-size: 1.2rem; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s, border-color 0.3s; margin-top: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        Pflanze einstellen
                    </button>
                </div>
            </form>
            <span th:if="${error}" th:text="${error}">Error</span>
            <span th:if="${successMessage}" th:text="${successMessage}">Success</span>
        </div>
    </div>
</div>

<!-- Footer -->
<th:block th:replace="~{fragments/htmlFooter :: footer}"></th:block>

</body>
</html>
