<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <th:block th:replace="~{fragments/htmlHead :: head}"></th:block>
  <link rel="stylesheet" th:href="@{/css/homestyle.css}"/>
  <title>Home</title>
</head>
<body>
<!--Header-->
<th:block th:replace="~{fragments/htmlHeader :: header}"></th:block>

<!--Navbar-->
<th:block th:replace="~{fragments/htmlNavbar :: navbar}"></th:block>

<!--Main Content Area-->
<div class="container flex-grow-1 d-flex flex-column main-content">
  <div class="row flex-grow-1 mt-3">
    <div class="col bg-light py-3 d-flex flex-column">
      <div>
        <h2 th:text="${#strings.isEmpty(keyword) ? 'Neueste Angebote' : 'Ergebnisse für: ' + keyword}">Neue Anzeige</h2>
      </div>

      <!-- Sortier- und Filterformular, nur anzeigen, wenn eine Suche durchgeführt wurde -->
      <div th:if="${keyword != null and !keyword.isEmpty()}">
        <form id="sortForm" action="/products" method="get" class="mb-3">
          <input type="hidden" name="query" th:value="${keyword}">
          <div class="input-group mb-3">
            <select name="sort" class="form-select">
              <option value="asc" th:selected="${sort == 'asc'}">Name aufsteigend</option>
              <option value="desc" th:selected="${sort == 'desc'}">Name absteigend</option>
            </select>
            <button type="submit" class="btn btn-secondary">Sortieren</button>
          </div>
          <!-- Filteroptionen hinzufügen -->
          <div class="input-group">
            <input type="text" name="category" class="form-control" placeholder="Kategorie" th:value="${category}">
            <input type="number" name="minPrice" class="form-control" placeholder="Min Preis" th:value="${minPrice}">
            <input type="number" name="maxPrice" class="form-control" placeholder="Max Preis" th:value="${maxPrice}">
            <button type="submit" class="btn btn-secondary">Filtern</button>
          </div>
        </form>
      </div>

      <!-- Produktliste in einer Tabelle -->
      <div th:if="${products != null && !products.isEmpty()}">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Pflanzen</th>
            <th scope="col">Favorit</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="product : ${products}" class="clickable-row">
            <td class="product-cell" th:onclick="'window.location.href=\'/product/' + ${product.id} + '\';'">
              <div class="d-flex">
                <div th:if="${product.mainImageUrl != null}">
                  <img th:src="@{${product.mainImageUrl}}" alt="Product Image" class="product-image me-3">
                </div>
                <div th:if="${product.mainImageUrl == null}">
                  <div class="no-image me-3">
                    No Image
                  </div>
                </div>
                <div class="product-details">
                  <div class="product-name" th:text="${product.name}">Produkt Name</div>
                  <div class="product-description" th:text="${product.description}">Produkt Beschreibung</div>
                  <div class="product-price" th:text="${product.price} + ' €'">Preis: 0.00 €</div>
                </div>
              </div>
            </td>
            <td class="favorite-cell">
              <a th:href="@{/products/mark(id=${product.id}, marked=${!product.marked})}" th:text="${product.marked ? '★' : '☆'}"></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div th:if="${products == null || products.isEmpty()}">
        <p>No products available.</p>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<th:block th:replace="~{fragments/htmlFooter :: footer}"></th:block>

<!-- Externe JavaScript-Datei einbinden -->
<script th:src="@{/js/home.js}"></script>

</body>
</html>
