<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/htmlHead :: head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/leaderboardstyle.css}"/>
    <title>Leaderboard</title>
</head>
<body>
<!--Header-->
<th:block th:replace="~{fragments/htmlHeader :: header}"></th:block>

<!--Navbar-->
<th:block th:replace="~{fragments/htmlNavbar :: navbar}"></th:block>

<!--Main section for Leaderboard-->
<div class="container mt-5">
    <div th:if="${users != null && !users.isEmpty()}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <div class="row">
                        <div class="col">Rank</div>
                    </div>
                </th>
                <th scope="col">
                    <div class="row">
                        <div class="col">User</div>
                    </div>
                </th>
                <th scope="col">
                    <div class="row">
                        <div class="col">Level</div>
                    </div>
                </th>
                <th scope="col">
                    <div class="row-1">
                        <div class="col">Quests Completed</div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iterStat : ${users}" class="clickable-row">
                <td>
                    <!--                    <div class="row rank-cell">-->
                    <div class="col" th:text="${iterStat.index + 1}">Rank</div>
                    <!--                    </div>-->
                </td>
                <td>
                    <div class="row user-cell">
                        <div class="col" th:text="${user.username}">Username</div>
                    </div>
                </td>
                <td>
                    <div class="row level-cell">
                        <div class="col" th:text="${user.level}">Level</div>
                    </div>
                </td>
                <td>
                    <div class="row quest-completed-cell">
                        <div class="col" th:text="${user.numberOfQuestsCompleted}">Quests Completed</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>