<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Einbindung des Kopfzeilenfragments -->
    <th:block th:replace="fragments/htmlHead :: head"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <form th:action="@{/login}" method="POST" class="form-horizontal">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="'Pflanzenhandel Login'"></h4>
                <div th:if="${param.error}" class="alert alert-danger">
                    <span th:text="'Login fehlgeschlagen.'"></span>
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    <span th:text="'Logout erfolgreich.'"></span>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Username</label>
                        <input type="text" id="username" name="username" th:placeholder="'Username'" class="form-control"/><br/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-6">
                        <label>Password</label>
                        <input type="password" th:placeholder="'Password'" id="password" name="password" class="form-control"/><br/>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button name="Submit" value="Login" type="Submit" th:text="'Login'" class="btn btn-primary"></button>
                <p><a th:href="@{/register}">Noch keinen Account?</a></p>
            </div>
        </div>
    </form>
</div>
</body>
</html>
