<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <th:block th:insert="~{fragments/htmlHead :: head}"></th:block>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" th:href="@{/css/chatstyle.css}">
</head>
<body class="d-flex flex-column min-vh-100">
<!--Header-->
<th:block th:replace="~{fragments/htmlHeader :: header}"></th:block>

<!--Navbar-->
<th:block th:replace="~{fragments/htmlNavbar :: navbar}"></th:block>

<!--Main Content Area-->
<div class="container flex-grow-1 d-flex flex-column mt-3">
    <div class="row flex-grow-1">
        <!--Side Overview-->
        <div class="col-md-3 bg-light p-3 rounded shadow-sm">
            <h5 class="border-bottom pb-2 mb-3">Seitenleiste</h5>
            <div>
                <h6 class="fw-semibold">Bestellungen</h6>
                <ul class="list-unstyled ps-3">
                    <li><a href="#" class="text-decoration-none text-dark">Neu</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Verarbeitet</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Verschickt</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Zurückgegeben</a></li>
                </ul>
            </div>
            <div class="mt-4">
                <h6 class="fw-semibold">Profil</h6>
                <ul class="list-unstyled ps-3">
                    <li><a href="#" class="text-decoration-none text-dark">Neu...</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Profil</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Einstellungen</a></li>
                    <li><a href="#" class="text-decoration-none text-dark">Ausloggen</a></li>
                </ul>
            </div>
        </div>
        <!--Content Section with Messages-->
        <div class="col-md-9 bg-white p-3 rounded shadow-sm">
            <h2 class="border-bottom pb-2 mb-3">Nachrichten</h2>
            <div>
                <h4 class="mt-4">Vorhandene Chats</h4>
                <ul class="list-unstyled" id="conversationList">
                    <li th:each="conversation : ${conversationPartners}" class="mb-2">
                        <a th:href="@{/messages/conversation(recipientId=${conversation.id})}" th:text="${conversation.username}" class="text-decoration-none text-dark">Conversation with Recipient</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<th:block th:replace="~{fragments/htmlFooter :: footer}"></th:block>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
